binding.pry 
<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <%date = DateTime.now%>
    <% date.each do |day| %>
      <%= "Today is"  %> 
    <% end %>
    
  </body>
</html>

